.homepage-container {
    display: flex;
    justify-items: center;
    align-content: center;
    text-align: center;
}

.homepage-container img {
    width: 75%;
    height: auto;
    justify-self: center;
    align-self: center;
}

.homepage-container h1 {
    margin-bottom: -0.25em;
}