.homepage-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
}

.homepage-container img {
    width: 55%;
    height: auto;
    justify-self: center;
    align-self: center;
}

.homepage-container h1 {
    margin-bottom: -0.25em;
}

.homepage-container span {
    width: 55%;
    align-self: center;
}