@font-face {
    font-family: 'Comfortaa';
    src: url('../../src/assets/fonts/Comfortaa-Regular.ttf') format('truetype'),
         url('../../src/assets/fonts/Comfortaa-Bold.ttf') format('truetype'),
         url('../../src/assets/fonts/Comfortaa-Light.ttf') format('truetype'),
         url('../../src/assets/fonts/Comfortaa-Medium.ttf') format('truetype'),
         url('../../src/assets/fonts/Comfortaa-SemiBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;

}

* {
    font-family: 'Comfortaa';
    margin: 0;
    padding: 0;
}
html, .root {
    background-color: pink;
    background: url('../assets/pictures/wallpaper.webp');
    background-size: 150%;
    z-index: -1;
}

#content { 
    display: flex;
    flex-direction: column;
    height: 95vh;
}
.button-container {
    align-self: center;
    background-color: orange;
    flex: 1;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content:center;
    padding-top: 2vh;
}

.button-container button {
    padding: 0.5em;
    border: 1px solid white;
    background-color: yellow;
    color: red;
}

.button-container + div {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-self: center;
    border: 2px solid red;
    gap: 1.5em;
    width: 70vw;
    height: 90vh;
    background-color: yellow;
    padding: 2em;
}

