@font-face {
    font-family: 'Comfortaa';
    src: url('../../src/assets/fonts/Comfortaa-Regular.ttf') format('truetype'),
         url('../../src/assets/fonts/Comfortaa-Bold.ttf') format('truetype'),
         url('../../src/assets/fonts/Comfortaa-Light.ttf') format('truetype'),
         url('../../src/assets/fonts/Comfortaa-Medium.ttf') format('truetype'),
         url('../../src/assets/fonts/Comfortaa-SemiBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;

}

* {
    font-family: 'Comfortaa';
    margin: 0;
    padding: 0;
}
html, .root {
    background-color: pink;

}

#content { 
    display: flex;
    flex-direction: column;
}
.button-container {
    margin-top: 2vh;
    align-self: center;
}

.button-container + div {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-self: center;
    border: 2px solid red;
}

